*{padding: 0; margin: 0;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
html,body{height: 100%;max-width: 1920px;font-size: 100%;}
button{cursor: pointer;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{background-repeat: no-repeat;}
.button {
    padding: 16px 65px;
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #FFFFFF;
}
.button__text{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF; 
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 48px;
    line-height: 53px;
    color: #404040;
    padding-bottom: 18px;
}
.sub__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    color: #000000;
    margin: 36px 0 16px 0;
}
.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6E6E6E;
}

/* head */
.logo{
    height: 50px;
    cursor: pointer;
}  
.head{
    //! УБРАТЬ sass --watch source/scss/style.scss:source/css/style.css 
    height: 928px;
    //! 
    background-image: url(../../images/head/background.png);
    max-height: 928px;
    display: block;
    justify-content: space-between;
    .header__wrapper{
        padding: 36px 135px 0 138px;
        max-height: 86px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;

        .header__menu{
            max-height: 50px;
            display: flex;
            align-content: center;
    
            .header__menu--list{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                
                .header__link{
                    display: flex;
                    padding-left: 60px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 18px;
                    color: #FFF;
                    text-align: center;
                }
            }
        }
    }
                
}
.header__border{
    margin-top: 36px;
    border: 1px solid #FFFFFF;
    
}
.slogan__block{
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    margin-left: 257px;
    margin-top: 167px;
    margin:  167px 0 318px 257px;
    max-width: 852px;

    .head__title{

        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 60px;
        line-height: 72px;
        color: #ffffff;   
    }
    .head__button{
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        max-width: 277px;
        padding: 16px 65px;
        margin-top: 57px;
    }
}

.slider__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 138px;
    max-width: 222px;
    height: 8px;

    .slider__button{
        width: 66px;
        background: #FFFFFF;
        border: 0;
        opacity: 0.3;
        border-radius: 14px;
    }
    .slider__button.active{
        opacity: 0.8;
    }
}

/* head */

/* goal__block */

.goal__block {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    align-content: center;
    margin: 115px auto;
    max-width: 1084px;

    .goal__border {
        margin: 0 auto;
        opacity: 0.5;
        border: 1px solid #000000;
        background-color: #000000;
        width: 140px;
    }
    .goal__title {
        padding: 60px 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 28px;
        line-height: 34px;
        color: #404040;
    }
}

/* goal__block */

/* operations */

.operations__wrapper {
    padding: 0 135px 0 138px;
    .operations__block {
        display: grid;
        align-items: flex-start;
        align-content: flex-start;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 230px;
        max-height: 350px;

        .operation__grid-item {
            display: flex;
            justify-content: space-between;
            flex-flow: column nowrap;
            max-width: 396px;

            .numbers {
                font-family: 'Open Sans', sans-serif;
                font-weight: normal;
                font-size: 144px;
                line-height: 144px;
                color: #F1EDEA;
            }
        }
    }
}


/* operations */

/* advantages */

.advantage__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 174px 0 154px 0;
    max-height: 1105px;

    .advantage__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;
        margin: 0 144px 0 138px;
        max-height: 458px;
        margin-top: 172px;
        .advantage__text--section {
       
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
        max-width: 616px;
        padding-top: 54px;
        padding-right: 144px;
        }
        .advantage__img {
            z-index: 2;
        }
    }
    .advantage__fon {
        float: right;
    }
}

/* advantages */

/* orders */

.orders__wrapper {
    margin: 0 auto;
    max-width: 997px;
    .order__block {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-content: center;
        align-items: center;
        flex-flow: column nowrap;
        .order__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-size: 48px;
            line-height: 53px;
            color: #000000;
            padding-bottom: 18px;
        }
        .order__text {
            margin: 32px 0 52px 0;
            text-align: center;
        }
    }
}

/* orders */

/* partners */

.partners__wrapper {
    margin-top: 315px;
    height: 1164px;
    background: #232323;
    .partners__block {
        margin: 0 auto;
        max-width: 930px;
        max-height: 230px;
        .partners__grid {
            display: grid;
            grid-template-columns: repeat(4, 2fr);
            grid-column-gap: 38px;
            .partners__grid-item {
                vertical-align: middle;
                border-radius: 20px;
                background: #232323;
                height: 115px;
                &:hover
                {
                    background: #9c9a9a;
                }
                
            }
        }
    }
    
}

/* partners */

/* about */

.about__wrapper {
    max-height: 470px;
    margin-bottom: 178px;
    .about__block {
        display: flex;
        justify-content: space-between;
        max-width: 1250px;
        max-height: 150px;
        margin: 157px auto;
        .about__block-item {
            max-width: 298px;
            text-align: center;
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            flex-flow: column nowrap;
            .about__title {
                margin: 0 auto;
                padding-bottom: 16px;
            }
            .about__text {
                max-width: 276px;
                max-height: 106px;
            }
        }
    }
}

/* about */

.offer__wrapper {
    display: flex;
    .offer-image {
        float: left;
    }
    .offer__block {
        margin: 123px auto;
        max-width: 666px;
        .offer__title {
            line-height: 58px;
            padding-bottom: 46px;
        }
        .offer__text {
            padding-bottom: 66px;
        }
    }
}

/* about */

/* reviews */

.reviews__wrapper {
    background: #F1E9E6;

}
.reviews__block {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding: 125px 0 156px;
    .reviews__title {
        line-height: 58px;
        padding-bottom: 70px;
        text-align: center;
    }
    .reviews__grid {
        display: grid;
        max-width: 828px;
        margin: 0 auto;
        row-gap: 50px;
        .reviews-item {
            display: grid;
            grid-template-columns: 15% 85%;
            grid-template-rows: repeat(1, 1fr);
            max-width: 828px;
            column-gap: 51px;
  
            .authors__photo {
                float: left;
            }
            .comment {
                background: #FFFFFF;
                border-radius: 10px;
                max-width: 677px;
                padding: 32px 42px;
                .author__name {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    color: #000000;
                    padding-bottom: 12px;
                }
                .review__text {
                    max-width: 581px;
                }
            }
            
        }

    }
}


/* reviews */