a
{
    text-decoration: none;
    font: normal bold 15px/0 "Lato";
    color: #060C31;
}

.container
{
    
    margin:60px auto;
    width: 1500px;
}

.menu
{
    display: block;
    float: right;
    margin-right: 80px;
}

.menu_block
{
    display: inline-block;
}

.menu_item
{
    display: inline-block;
    font: normal bold 13px/28px 'Lato', sans-serif;
    text-decoration: none;
    padding-right: 40px;
}

.menu_button
{
    display: inline-block;
    box-sizing: border-box;
    width: 156px;
    height: 46px;
    border-radius: 50px;
    border: 1px solid #FFB0B1;
    padding: 23px 24px;
    color: #060C31;
}

.main_block
{
    max-width: 1000px;
    margin: 0 auto;
}

.main_content
{
    padding: 0 10px;
}

.clear
{
    clear: both;
}

section
{
    margin-left: 112px;
    margin-top: 73px;
    margin-bottom: 109px;
}

.main_content
{
    float: left;
}

.main_logo_text
{
    font: normal normal 34px/43px "Crete Round";
    color: #060C31;
}

.main_img
{
    float: right;
    width: 800px;
    height: 600px;
}

.main_title
{
    margin-top : 90px;
    width: 493px;
}

.main_title_text
{
    font: normal normal 58px/64px "Crete Round";
}

.text_section
{
    margin-top: 42px;
    width: 430px;
    height: 84px;
}

.text
{
    font: normal normal 15px/28px 'Lato';
    letter-spacing: 0.75px;
    color: #060C31;
}

.buttons
{
    margin-top: 77px;
    margin-bottom: 20px;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.button
{
    display: inline-block;
    box-sizing: border-box;
    width: 156px;
    height: 50px;
    border-radius: 50px;
}

.get_started_button
{
    margin-right: 20px;
    background: #233FE2;
}

.get_started_button_text
{
    padding: 24px 36px;
    color: #FFFFFF;
}

.create_account_button
{
    border: 1px solid #FFB0B1;
}

.create_account_button_text
{
    padding: 23px 24px;
    color: #060C31;
}

footer
{
    display: inline-block;
    float: right;
    margin-right: 88px;
    height: 30px;
}

footer img
{
    padding-left: 104px;
}
