*
{
    margin: 0;
    padding: 0;
}

.main_block
{
    max-width: 1920px;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1680px;
    padding-top: 33px;
    margin: 0 auto;
}

.menu
{
    display: flex;
    align-items: center;
}

.menu_item
{
    font: 500 16px/20px 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    padding-left: 87px;
}

.enrollment_button
{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 16px/16px 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #05090C;
    border-radius: 4.59px;
    height: 55px;
}

.header_button
{
    margin-left: 99px;
    width: 247px;
}

.top_section
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    height: 799px;
    width: 1595px;
    margin-left: 178px;
}

.top_section_title
{
    width: 760px;
    font: 600 100px/122px 'Montserrat', sans-serif;
}

.title_text_selection
{
    color: #EE58B6;
}

.text_section
{
    font: 400 26px/31.2px 'Roboto Condensed', sans-serif;
    width: 545px;
    height: 62px;
    margin-top: 10px;
    margin-bottom: 46px;
}

.top_section_button
{
    width: 300px;
}

.dark_top_section
{
    background-color: #000000;
    max-width: 1920px;
    height: 398px;
    display: flex;
    align-items: center;
}

.dark_top_section_content
{
    display: flex;
    justify-content: space-between;
    padding: 111px 381px 142px 360px;
    width: 1148px;
    height: 145px;
}

.dark_top_section_item
{
    width: 330px;
    text-align: center;
    color: white;
}

.middle_section_content
{
    display: flex;
    flex-flow: row wrap;
    margin: 34px 272px 102px 297px;
    max-width: 1920px;
    height: 1245px;

}

.middle_section_item
{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    justify-content: center;
    height: 50%;
    width: 1350px;
}

.middle_title
{
    font: bold 48px/61px 'Montserrat', sans-serif;
    color: #000000;
}

.middle_text_section
{
    font: 400 18px/24px 'Roboto Condensed', sans-serif;
    margin-top: 24px;
    max-width: 620px;
}

.grid_block
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
    width: 1200px;
    height: 530px;
    margin: 137px 392px 173px 390px;
}

.grid_title
{
    width: 553px;
    font: bold 48px/59px 'Montserrat', sans-serif;
}

.grid
{
    width: 1135px;
    height: 411px;
    display: grid;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-gap: 30px;
}

.grid_item
{
    display: flex;
    flex-flow: row wrap;
    width: 286px;
    height: 126px;
    background: #000000;
    border-radius: 7.35723px;
    padding: 32px 30px 36px 39px;
}

.grid_text
{
    padding-top: 20px;
    width: 286px;
    font: 400 18px/21px 'Roboto Condensed', sans-serif;
    color: white;
}

.dark_bottom_section
{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    max-width: 1920px;
    height: 694px;
    background: #000000;
}

.dark_bottom_title
{
    font: 500 48px/58px 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding-top: 125px;
}

.form
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;
    max-width: 1440px;
    height: 103px;
}

.form_input
{
    cursor: pointer;
    width: 340px;
    height: 64px;
    background: #FFFFFF;
    border: 1.34888px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 10px;
}

.input_text
{
    font: 500 18px/22px 'Montserrat', sans-serif;
    color: #999999;
    padding-left: 28px;
}

.form_button
{
    cursor: pointer;
    font: 600 18px/22px 'Montserrat', sans-serif;
    color: white;
    background-color: #05090C;
    width: 340px;
    height: 64px;
    margin-left: 10px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
}

.agreement_checkbox
{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.agreement_checkbox+label
{
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.agreement_checkbox+label::before
{
    content: '';
    display: inline-block;
    cursor: pointer;
    background: #FFFFFF;
    border: 1.34888px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 4.04665px;
    width: 22px;
    height: 22px;
    margin-left: 10px;
}

.agreement_checkbox:checked+label::before
{
    background-color: #EE58B6;
}

.checkbox_text
{
    font: 400 16px/22px 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    margin-left: 8px;
}

.people
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 126px;
}

.clients_name
{
    margin-top: 20px;
    margin-bottom: 9px;
    font: bold 26px/31px 'Montserrat', sans-serif;
}

.about_person
{
    margin-bottom: 24px;
    width: 734px;
}

.persons_activity
{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 43px;
    width: 626px;
}

.description_text
{
    font: 400 18px/27px 'Roboto Condensed', sans-serif;
    text-align: center;
}

.contacts
{
    display: flex;
    flex-flow: row nowrap;
    width: 166px;
    justify-content: space-around;
    margin-bottom: 118px;
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 108px;
    max-width: 1920px;
}

.footer_title
{
    font: bold 31px/38px 'Montserrat', sans-serif;
    color: #FFFFFF;
}
