*{
    margin: 0;
    padding: 0;
}

.main_block
{
    max-width: 1920px;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1680px;
    padding-top: 33px;
    margin: 0 auto;
}

.menu
{
    display: flex;
    align-items: center;
}

.menu_item
{
    font: 500 16px/20px 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    padding-left: 87px;
}

.enrollment_button
{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 16px/16px 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #05090C;
    border-radius: 4.59px;
    height: 55px;
}

.header_button
{
    margin-left: 99px;
    width: 247px;
}

.top_section
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
    align-items: flex-start;
    height: 799px;
    width: 1595px;
}

.top_section_title
{
    width: 760px;
    font: 600 100px/122px 'Montserrat', sans-serif;
}

.title_text_selection
{
    color: #EE58B6;
}

.text_section
{
    font: 400 26px/31.2px 'Roboto Condensed', sans-serif;
    width: 545px;
    height: 62px;
    margin-top: 10px;
    margin-bottom: 46px;
}

.top_section_button
{
    width: 300px;
}

.dark_top_section
{
    background-color: #000000;
    max-width: 1920px;
    height: 398px;
    display: flex;
    align-items: center;
}

.dark_top_section_content
{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1148px;
    height: 145px;
}

.dark_top_section_item
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 330px;
    text-align: center;
    color: white;
}

.warning_content
{
    display: flex;
    flex-flow: row wrap;
    max-width: 1920px;
    height: 1245px;

}

.warning_content_item
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
    height: 50%;
    width: 1350px;
}

.middle_title
{
    font: bold 48px/61px 'Montserrat', sans-serif;
    color: #000000;
}

.middle_text_section
{
    font: 400 18px/24px 'Roboto Condensed', sans-serif;
    margin-top: 24px;
    max-width: 620px;
}

.grid_block
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
    width: 1200px;
    height: 530px;
    margin: 137px auto;
}

.grid_title
{
    width: 553px;
    font: bold 48px/59px 'Montserrat', sans-serif;
}

.grid
{
    width: 1135px;
    height: 411px;
    display: grid;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}

.grid_item
{
    display: flex;
    flex-flow: row wrap;
    width: 286px;
    height: 126px;
    background: #000000;
    border-radius: 7.35723px;
    padding: 32px 30px 36px 39px;
}

.grid_text
{
    padding-top: 20px;
    width: 286px;
    font: 400 18px/21px 'Roboto Condensed', sans-serif;
    color: white;
}